*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
 --bg-color: #080808;
 --second-bg-color: #131313;
 --text-color: white;
 --main-color: #c088d8;
}

html{
    font-size: 60%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}

/* HEADER*/
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}

/* NAVBAR*/
.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--main-color);
}

/* MAIN*/
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.heading{
    font-size: 6rem;
    text-align: center;
    margin: 5rem 0;
}
.main{
    background: var(--bg-color);
    color: black;
}
.main h2{
    margin-bottom: 5rem;
    color: white
}
 
.main img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 3rem;
   box-shadow: 0 0 10px var(--main-color);
   cursor: pointer;
   transition: 0.4s ease-in-out;
   z-index: 0;
}
.main img:hover{
   box-shadow: 0 0 10px var(--main-color),
               0 0 30px var(--main-color);
}
.info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.info-box{
    background-color: var(--main-color);
    height:200px;
    border-radius: 3rem;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.info-box:hover{
    transform: scale(1.03);
}
.info-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 2rem 2rem;
}

.project-info h4{
    font-size: 2rem;
    font-weight: 800;
    line-height: 3;
}
.project-info p, .project-info  i{
    font-size: 1.8rem;
    font-weight: 500;
    max-height: 100px;
    line-height: 1.5;
    margin: 2px 2px;
    color: var(--second-bg-color);
}
.project-info  i{
    line-height: 1;
}
 
.project-info a :hover{
    text-decoration: underline;
    cursor: pointer;
}
/* PARAGRAPHS*/
.para {
    background-color: var(--second-bg-color);
}
.para .heading{
    font-size: 3rem;
    text-align: left;
    margin: 2rem 0;
    color: var(--main-color);
}

.para .text p{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    margin-top: 3rem ;
}

.para a{
    color: var(--main-color);
}
.para a :hover{
    text-decoration: underline;
    cursor: pointer;
}

.subPara{
    margin-top: 6rem ;
}

 
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 0.5rem;
    width: 100%; 
    height: 40rem;
}
.img-container img{
    width: 100%;
    height: auto;
}
.img-container figcaption{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-top: 0.7rem; 
}

/* FOOTER*/
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    background-color: var(--bg-color);
}
 
.footer .copyright{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.space{
    height: 100px;
    width: 100%;
    background-color: var(--second-bg-color);
}

/* Resizing*/
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
