*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
 --bg-color: #080808;
 --second-bg-color: #131313;
 --text-color: white;
 --main-color: #c088d8;
}

html{
    font-size: 60%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
    min-width: 800px;
}

/* HEADER*/
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}

/* NAVBAR*/
.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--main-color);
}

/* MAIN*/
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.heading{
    font-size: 6rem;
    text-align: center;
    margin: 5rem 0;
}
.main{
    background: var(--bg-color);
    color: black;
}
.main h2{
    margin-bottom: 5rem;
    color: white
}
 
.main img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 3rem;
   box-shadow: 0 0 10px var(--main-color);
   cursor: pointer;
   transition: 0.4s ease-in-out;
}
.main img:hover{
   box-shadow: 0 0 10px var(--main-color),
               0 0 30px var(--main-color);
}
.info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.info-box{
    background-color: var(--main-color);
    height:200px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.info-box:hover{
    background:#c088d8a7;
}
.info-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 2rem 2rem;
}
.project-info h4{
    font-size: 2rem;
    font-weight: 800;
    line-height: 3;
}
.project-info p, .project-info  i{
    font-size: 1.4rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.5;
    margin: 1px 2px;
}
.project-info  i{
    font-size: 1.7rem;
    line-height: 1;
}

/* MAIN*/
.para1 {
    background-color: var(--second-bg-color);
}
.para1 .heading{
    font-size: 3rem;
    text-align: left;
    margin: 1rem 0;
}
