*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
 --bg-color: #080808;
 --second-bg-color: #131313;
 --text-color: white;
 --main-color: #a58c56;
}

html{
    font-size: 60%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}

/* HEADER*/
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

/* NAVBAR*/
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}