*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
 --bg-color: #080808;
 --second-bg-color: #131313;
 --text-color: white;
 --main-color: #00ffee;
}

html{
    font-size: 60%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}